body{
    background: rgb(51, 37, 29);
    color:rgb(133, 117, 56);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    width: 800px;
    margin:20px;
}

.container{
    width: 80%;
}

.room-image{
    width: 100%;
}

.display{
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.inventory{
    width: 80%;
    padding: 10px;
    margin: 10px;
}

.controls{
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.manual-control{
    width: 50%;

}

#command{
    width: 50%;
    background:rgb(66, 61, 39);
    color: rgb(155, 133, 89);
}



.direction{
    width: 175px;
    float: right;
    margin-top: -100px;
    margin-left: 50px;
}

.direction-button{
    width: 50px;
    
}

.btn-secondary{
    background:rgb(66, 61, 39);
    color:rgb(133, 117, 56)
}